<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/250a6de61f.js" crossorigin="anonymous"></script>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous"
		></script>
		<title><%= title %></title>
	</head>
<body>
    <%- include('layouts/nav')  %> 
    <div class="container-fluid my-5 h-100">
        <h1 class="title fs-1 text-center">PU Wallet</h1>
        <div class="container address">
            <div class="input-group mb-3 mt-5 mx-auto" style="width: 38%">
                <span class="input-group-text" id="inputGroup-sizing-default">Address</span>
                <input type="text" class="form-control" value="<%- address %> " disabled />
                <input name="copy" id="copy" class="btn btn-secondary" type="button" value="Copy" />
            </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="card text-center shadow rounded-3 w-50 mx-auto" style="height: 30vh;">
                <div class="card-body">
                    <h4 class="card-title fs-4 mt-3 mb-5">Your balance</h4>
                    <p class="card-text fs-1">$100</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3 m-auto ps-4">
                    <button type="submit" class="btn btn-secondary shadow-sm">Send</button>
                    <button type="submit" class="btn btn-secondary shadow-sm">Receive</button>
                    <button type="submit" class="btn btn-secondary shadow-sm">Buy</button>
                    <button type="submit" class="btn btn-secondary shadow-sm">Swap</button>
                </div>
            </div>
        </div> 
    </div>
    <%- include('layouts/footer')  %> 
</body>
<%- include('layouts/closer')  %> 